<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading"><strong>{{ recipe.name }}</strong></h4>
    <hr>
    <!-- <i class="list-group-item-text">{{ recipe.description }}</i> -->
  </div>
  <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive center"
          style="max-height: 80px;"
          width="80">
      </span>
</a>
